<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Product Application</title>
  <style>
    h1 {
    background-color: #F4D03F;
      height: 150px;
      width: 100%;
      padding: 0;
      margin: 0;
  }
  </style>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script>
    function saveUn(event) {
      var id = $(event).parent().parent().find("td")[0].innerHTML;//find("innerHTML");
      var price = $(event).parent().parent().find("td")[2].innerHTML;//.html();

      // console.log(price);
      var pathname = window.location.href;
      var customer_id = pathname.split('_')[1];
      var url = "http://localhost:8080/addCart/" + id +"/" +price +"/" + customer_id;
      console.log(url);
      window.open(url,"_blank");
      // window.location.href = url;
      // var httpRequest = new XMLHttpRequest();
      // httpRequest.open('GET', url, true);
      // httpRequest.send();
      // httpRequest.onreadystatechange = function () {
      //   if (httpRequest.readyState == 4 && httpRequest.status == 200) {
      //     var json = httpRequest.responseText;
      //     console.log(json);
      //   }
      // };
    }
  </script>
</head>
<body>
<div align="center">
  <h1>Products</h1>
  <br>
  <br>

  <table border="1" cellpadding="10" id="Table">
    <thead>
    <tr>
      <th>ProductId</th>
      <th>Product Name</th>
      <th>Product Price</th>
      <th>Product description</th>
      <th>Add to shopping cart</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="product :${listProduct }">
      <td id='id' th:text="${product.product_id}">ID</td>
      <td th:text="${product.product_name}">Name</td>
      <td id='price' th:text="${product.product_price}">Price</td>
      <td th:text="${product.product_description}">Description</td>
      <td>
        <button onclick="saveUn(this)">Add</button>
      </td>
    </tr>

    </tbody>

  </table>

</div>

</body>

</html>