.u-section-1 .u-sheet-1 {
  min-height: 500px;
}

.u-section-1 .u-form-1 {
  height: 289px;
  width: 570px;
  margin: 89px auto 0;
}

.u-section-1 .u-input-1 {
  background-image: none;
}

.u-section-1 .u-input-2 {
  background-image: none;
}

.u-section-1 .u-btn-1 {
  width: 100%;
  background-image: none;
  padding: 10px 30px;
}

.u-section-1 .u-btn-2 {
  border-style: solid;
  align-self: center;
  margin: 0 289px 0 719px;
  padding: 0;
}

.u-section-1 .u-btn-3 {
  border-style: solid;
  margin: 30px 249px 40px 719px;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-btn-2 {
    margin-right: 189px;
    margin-left: 619px;
  }

  .u-section-1 .u-btn-3 {
    margin-right: 149px;
    margin-left: 619px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-btn-2 {
    margin-right: 79px;
    margin-left: 509px;
  }

  .u-section-1 .u-btn-3 {
    margin-right: 39px;
    margin-left: 509px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-form-1 {
    width: 540px;
  }

  .u-section-1 .u-btn-2 {
    margin-right: 0;
    margin-left: 408px;
  }

  .u-section-1 .u-btn-3 {
    margin-right: 0;
    margin-left: 408px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-form-1 {
    width: 340px;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 208px;
  }

  .u-section-1 .u-btn-3 {
    margin-left: 208px;
  }
}